doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/main.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/Physics.js")
    script(type="text/javascript", src="/javascripts/Point.js")
    script(type="text/javascript", src="/javascripts/Circle.js")
    script(type="text/javascript", src="/javascripts/main.js")
  body(onload='start();')
    block content